#result{
    display: block;
    font-size: 10rem;
    text-align: center;
    justify-content: center;
}

.button{
    background-color: hsl(240, 100%, 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 30px;
}

.button:hover{
    background-color: hsl(240, 80%, 30%);
}

.div{
    align-items: center;
    text-align: center;
}