welcome_text*{
    margin: 0;
    padding: 0;
}

/* fonts  */

.roboto-p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100 - 900; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dancing-script-slogan {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  /* font-weight: 400 - 700; */
  font-style: normal;
}

.lora-h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  /* font-weight: 400 - 700; */
  font-style: normal;
}

.work-sans-h2 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100 - 900; */
  font-style: normal;
}

body{
    background-color: #0E2C2B;
}

@media (max-width:576px) {
    p {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }
}

@media (max-width:768px) {
    p {
    font-size: 15px;
  }

  h1 {
    font-size: 32px;
  }
}

/* location start  */

.main_location{
    background-color: rgb(50, 50, 50);
}
.location_container{
    padding: 5px 50px;
    display: flex;
}

.location_map{
    text-decoration: none;
}

.location_icon {
    text-decoration: none;
}
.location_text small{
    color: white;
    font-family: "Roboto";
}

@media(max-width:768px){
    .location_phone{
        padding-left: 200px !important;
    }
}

@media(max-width:576px){
    .location_phone{
        padding-left: 0px !important;
    }
}
/* loation end  */


/* hero start  */

/* Nav Start  */
/* From Uiverse.io by cssbuttons-io */ 
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-family: "Roboto";
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #A87C4F;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover{
  color: #ffffff;
  border: 1px solid #A87C4F;
}

.button:hover:before {
  top: -35%;
  background-color: #A87C4F;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #A87C4F;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.nav-hover{
    color: white;
    font-size: 16px;
}

.nav-hover:hover{
    color: #A87C4F;
}

.nav-hover-dropdown:hover{
    color: #A87C4F;
}

.dropdown-menu{
    width: 200px;
}

.nav-hover{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-hover:hover{
    color: #A87C4F;
}

.nav-hover-dropdown{
    color: #ffffff;
}

.nav-hover-dropdown:hover{
    color:#A87C4F;
    background-color: #0E2C2B;
}

.dropdown-item:hover{
    background-color: #0E2C2B;
}

.dropdown-menu{
    background-color: #0E2C2B;
    border-color:#A87C4F;
}

@media(max-width:576px){
    .dropdown-menu{
        width: 200px;
}
}
/* Nav End  */
/* Hamburger nav start */

.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler, 
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #A87C4F;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar{
    margin-top: 0px;
}

/* when nav is clicked  */
.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* state when nav bar is collapsed  */
.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}

/* Hamburger nav end */

.hero_main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  opacity: 0;
  animation: zoomFade 24s infinite;
}

.image1 {
  background-image: url(../images/bg1.jpg);
  animation-delay: 0s;
}
.image2 {
  background-image: url(../images/bg2.jpg);
  animation-delay: 8s;
}
.image3 {
  background-image: url(../images/bg3.jpg);
  animation-delay: 16s;
}

@keyframes zoomFade {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

/* Welcome Section Start */

.main_welcome{
    margin-top: 120px;
    position: relative;
    text-align: center;
    align-items: center;
}
.welcome_line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 1px;
    background: #ffffff;
    flex: 1;
    max-width: 80px;
    margin: 0 15px;
}

.welcome_text {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Roboto";
}

.welcome_h1{
    color: #ffffff;
    font-family: "Lora";
    font-size: 80px;
    margin-top: 10px;
}

.welcome_p{
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto";
}

@media (max-width:576px) {
    .main_welcome{
        margin-top: 40px !important;
    }
}
@media (max-width:768px) {
    .main_welcome{
        margin-top: 100px;
    }
}
/* Welcome Section End */
/* hero end  */

/* Slogan start  */
.solgan_text{
    text-transform: uppercase;
    color: #ccc;
    font-size: 45px;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: "Roboto";
}

.slogan_img{
    padding-top: 60px !important;
    margin-bottom: 20px !important;
    width: 200px;
    display: block;
    margin: auto;
}

.slogan_p{
    color: #A87C4F;
    font-family: "Dancing Script";
    font-size: 45px;
    padding-bottom: 30px;
}
/* Slogan End  */

/* About Us Start  */

/* Our Story Start  */
.ourstory_p1{
    color: #A87C4F;
    font-size: 18px;
    font-family: "Roboto";
    text-transform:uppercase;
    letter-spacing: 2px;
}

.ourstory_h2{
    font-size: 60px;
    color: #ffffff;
    font-family: "Lora";
    letter-spacing: 2px;

}
.ourstory_p2{
    color: #ccc;
    font-size: 18px;
    font-family: "Roboto";
    letter-spacing: 1px;
}
.ourstory_mainline{
    display: flex;
    align-items: center;
}
.ourstory_line{
    height: 2px;
    background: #A87C4F;
    flex: 1;
    max-width: 80px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.ourstory_btn{
    margin-bottom: 40px;
    margin-top: 40px;
}


.ourstory_img1{
    border-radius: 20px;
}

.ourstory_img2{
    width: 3000px;
    height: 790px;
    border-radius: 20px;
}

/* Our Story Media Start  */

@media (max-width:768px) {
    .ourstory_img2{
        padding-top: 10px;
        height: 820px;
    };

    .ourstory_img1{
        height: 200px;
    };
};

@media (max-width:992px) {
    .ourstory_img1{
        padding-top: 10px;
        height: 322px;
    };
};
/* Our Story Media end  */
/* Our Story end  */

abtdetail_h5{
    font-family: "Roboto";
    font-size: 25px;
}

.abtdetail_p{
    font-family: "Roboto";
    font-size: 18px;
}
.abtdetail_img{
    width: 90px;
    height: 90px;
    padding: 10px;
    border: 2px solid #A87C4F;
    border-radius: 50%;
}

.abtdeatil_container{
    margin-top: 40px;
}
/* About End  */

/* Story start  */
.story_img{
    width: 400px;
    height: 600px;
    border-radius: 300px;
}

.story_img2{
    width: 250px;
    height: 150px;
}
.story_p2{
    color: #ccc;
    font-size: 18px;
    font-family: "Roboto";
    letter-spacing: 1px;
    margin-top: 20px;
}

.story_continer{
    padding: 0px 100px;
    margin-top: 80px;
}

.story_header{
    color: #ffffff;
}

.story_main{
    margin-top: 40px;
    margin-bottom: 40px;
}

.story_h2{
    font-family: "Lora";
    font-size: 60px;
    color: #ffffff;
}

.story_h2p2{
    margin-top: 40px;
}

@media(max-width:576px) {
    .story_continer{
        padding: 0px 40px;
        margin-top: 80px;
}

.story_img{
    margin-left:30px ;
}
}

@media(max-width:768px) {
        .story_continer{
            padding: 0px 20px;
            margin-top: 80px;
}
   
}
/* Story end  */

/* Menu Start  */

.hero-section {
  background-image: url(../images/chef3.jpg); /* Replace with your file path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 120px;
}

.hero-overlay {
  color: white;
  padding: 0 20px;
}

.hero-title {
  font-size: 3rem;
  font-family: "Lora";
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero-button {
  display: inline-block;
  padding: 18px 30px;
  background-color: #ccc;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  transition: 0.3s ease;
  font-family: "Roboto";
  letter-spacing: 1px;
  margin-top: 20px;
}

.hero-button:hover {
  background-color: #A87C4F;
}

@media(max-width:576px) {
    .hero-section{
        margin-top: 20px;
    }
}

/* about chef start  */

.about_text{
    font-size: 40px;
    font-family: "work Sans";
}

.abtchef_main{
    margin-top: 120px;
}

.abtchef_container{
    margin-top: 40px;
}

.starter_img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.starter_h5{
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto";
    margin-top: 10px;
}

.starter_p{
    color: #ccc;
    font-size: 18px;
    font-family: "Roboto";
}

.starter_main_p{
    color: #A87C4F;
    font-size: 30px;
    font-family: "Dancing Script";
    margin-bottom: 40px;
}

.chefbtn_container{
    margin-top: 30px;
}

.hover-zoom1 {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.hover-zoom1:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media(max-width:576px){
    .chefbtn_container{
        margin-bottom: 30px !important;
    }
}
/* about chef end  */
/* Chef Recommend start  */
.chef_main{
    margin-top: 120px;
}

.chef_text{
    font-size: 40px;
    font-family: "work Sans";
}

.chefrec_p{
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.chefrec_img{
    width: 300px;
    height: 400px;
}

.chef_flex{
    display: grid;
}

.chef_p{
    color: #ccc;
    font-size: 18px;
    margin-top: 10px;
}
/* chef recommend end  */

/* Restaurant info start  */
.resta_h2{
    font-size: 40px;
    font-family: "Work Sans";
    text-transform: uppercase;
}

.interior_text h2{
    color: #ffffff ;
    font-family: "Lora";
    font-size: 40px;
    letter-spacing: 1px;
}

.interior_text p{
    color: #ccc;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.interior_img{
    width: 700px;
    height: 500px;
}

.interior_main{
    margin-top: 40px;
}

@media(max-width:576px) {
    .interior_h2{
        margin-top: 10px;
    }
}
/* Restaurant info end   */


/* wine start  */
.wine_main {
    margin-top: 120px;
}

.wine_img{
    width: 100%;
    height: 600px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 1);
}

.wine_text{
    margin-bottom: 160px;
}
.wine_h{
   font-size: 90px;
   font-family: "Lora";
   color:#ffffff; 
   text-transform: uppercase;
   letter-spacing: 1px;
}

.wine_p{
    font-size: 18px;
    font-family: "Roboto";
    color: #ccc;
}

@media(max-width:576px){
.wine_h{
   font-size: 40px;
   font-family: "Lora";
   color:#ffffff; 
   text-transform: uppercase;
   letter-spacing: 1px;
}

.wine_p{
    font-size: 14px;
    font-family: "Roboto";
    color: #ccc;
}

.wine_img{
    width: 100%;
    height: 400px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 1);
}

.wine_text{
    margin-bottom: 100px;
}

}
/* wine end  */

/* Mini menu  start  */
.menu_h1{
    font-size: 40px;
    font-family: "Work Sans";
    text-transform: uppercase;
}

.menu_img{
    width: 450px;
    height: 600px;
    border-radius: 250px 250px 0px 0px;
}

.menu_img2{
    width: 450px;
    height: 600px;
    border-radius: 250px 250px 0px 0px;
    margin-left: 100px;
}


.menu_h2{
    font-size: 40px;
    color: #ffffff;
    font-family: "Lora";
    letter-spacing: 1px;
}

.menu_line{
    height: 1px;
    background: #ffffff;
    flex: 1;
    max-width: 500px;
    margin: 0 15px;
}

.chef_main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_main{
    margin-top: 40px;
}

.main_menu{
    padding-top: 80px;
}

@media(max-width:576px){
    .menu_img2{
        margin-left: 24px;
    }

    .menu_img{
        margin-left: 24px;
    }

    .main_menu{
    padding-top: 20px;
}
}

@media(max-width:768px){
    .menu_img2{
        margin-left: 20px;
    }

    .menu_img{
        margin-right: 20px;
    }

    .main_menu{
    padding-top: 20px;
}
}

.view_menu{
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    letter-spacing: 1px;
}

.view_menu:hover{
    color: #A87C4F;
}

.view_icon{
    color: #ffffff;
}

.view_icon:hover{
    color: #A87C4F;
}
/* Mini menu end  */

/* Reserve Start  */

.reserve_h2{
    font-size: 40px;
    font-family: "Work Sans";
    text-transform: uppercase;
}
.reserve_main{
    margin-top: 120px;
}

.book_main{
    margin-top: 120px;
}
.book_header{
    padding-left: 28px;
    margin-top: 80px;
}
.book_h2{
    color: #ffffff;
    font-size: 40px;
    font-family: "Lora";
}

.book_p{
    color: #ccc;
    font-size: 18px;
    font-family: "Roboto";
}

.reserve_img{
    width: 600px;
    height: 700px;
    border-radius: 300px 300px 0px 0px;
}

.reservation-form {
  background: transparent;
  padding: 30px;
  max-width: 400px;
  color: white;
  font-family: "Roboto";
}

.form-group {
  margin-bottom: 20px;
}

select, input[type="date"] {
  width: 100%;
  padding: 12px 0;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #aaa;
  appearance: none;
  font-size: 16px;
}

select:focus,
input[type="date"]:focus {
  outline: none;
  color: #ccc;
  background-color: #0E2C2B;
}

.text_area{
    width: 340px;
    height: 200px;
    border: 1px solid #A87C4F;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 20px;
}

textarea{
    padding-inline-start: 10px;
    padding-top: 10px;
}
textarea::placeholder {
    padding-top: 5px;
    padding-left: 5px;
}

@media (max-width: 576px){
    .book_header{
    margin-top: 0;
    }

    .book_main{
        margin-top: 50px;
        padding-left: 40px;
    }

    .reserve_img{
        width: 400px !important;
        height: 500px;
    }

    .text_area{
        width: 340px !important;
    }
}

@media(max-width:768px){
    .book_header{
    margin-top: 0;
    }

    .book_main{
        margin-top: 50px;
        margin-left: 0px;
    }

    .reserve_img{
        width: 300px;
        height: 610px;
    }

    .text_area{
        width: 270px;
    }
}
/* reserve end  */


/* Events start  */
.events_main{
    margin-top: 120px;
}

.events_h2{
    font-size: 40px;
    font-family: "Work Sans";
    text-transform: uppercase;
}

.events_h3{
    font-size: 18px;
    color: #ccc;
    font-family: "Roboto";
    margin-top: 15px;
    text-transform: capitalize;
}

.events_h3_2{
    margin-top: 5px;
    font-size: 18px;
    color: #ccc;
    font-family: "Roboto";
}

.eventimg_1{
    width: 400px;
    height: 500px;
    border-radius: 200px 200px 0px 0px;
    cursor: pointer;
}

.eventimg_main{
    margin-top: 80px;
    
}

.eventimg_h5{
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto";
    letter-spacing: 1px;
}

.eventimg_p{
    color: #ccc;
    font-size: 18px;
    margin-bottom: 5px;
}

@media(max-width:576px){

    .eventimg_1{
        width: 400px;
        height: 500px;
        border-radius: 200px 200px 0px 0px;
        margin-left: 55px;
        margin-top: 20px;
    }
}
/* Events end  */


/* Reviews start  */
.card {
  border-radius: 15px;
}
.card-title {
  font-weight: 600;
}

.reviews_main{
    background-color: #0E2C2B;
}

.reviews_main p{
    font-family: "Roboto";
    font-size: 16px;
}
.reviews_h2{
    color: #A87C4F;
    font-size: 30px;
    font-family: "Dancing Script";
}
.Testimonials_a{
    text-decoration: none;
    color: #ccc;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Roboto";
}

.Testimonials_a:hover{
    color: #A87C4F;
}
/* reviews end  */

/* blog start  */
.blogh1{
    font-size: 30px;
    color: #ffffff;
    font-family: "Lora";
    letter-spacing: 1px;
}

.blogs_h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.blog_img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    cursor: pointer;
}

@media(max-width:768px){
    .blog_img{
        height:400px ;
    }
}
/* blog end */

/* Visit us start  */

.visit_us{
    margin-top: 80px;
}

.visitus_p{
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.visitus_h2{
    font-size: 40px;
    font-family: "Lora";
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}

.visit_img{
    width: 250px;
    height: 150px;
    margin-left: 630px;
    margin-bottom: 80px;
}

@media(max-width:576px){
    .visit_img{
        margin-left: 160px !important;
    }
}

@media(max-width:768px){
    .visit_img{
        margin-left: 260px;
    }
}
/* visit us end  */
/* footer start  */
footer a:hover {
  color: #A87C4F !important;
}

.footer_main{
    background-color: rgb(50, 50, 50);
}

.text_footerp{
    color: #ccc;
    font-size: 16px;
    font-family: "Roboto";
}
/* footer end  */

.hover-zoom {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.hover-zoom:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}