*{
    margin: 0;
    padding: 0;
    font-family:Liter ;
}


body{
    background-color: rgb(255, 255, 255);
}

/* For Fonts  */
.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

/* main  */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main img{
    width: 150px;
    height: 80px;
}

.express{
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

span{
    color: grey;
}

.shoppay, .paypal{
    width: 300px;
    height: 80px;
    border-radius: 12px;
    
}

.twoimg{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.screen{
    display: flex;
    align-items: center;
    justify-content: center;
}


.col{
    margin-left: 400px;
    margin-right: 400px;
}

.col .title {
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}

.col .inputBox {
    margin: 15px 0;
}

.col .inputBox label {
    margin-bottom: 10px;
    display: block;
}

.col .inputBox input,
.col .inputBox select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}

.col .inputBox input:focus,
.col .inputBox select:focus {
    border: 1px solid #000;
}

.col .flex {
    display: flex;
    gap: 15px;
}

.col .flex .inputBox {
    flex: 1 1;
    margin-top: 5px;
}

.col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit_btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: rgb(1, 143, 34);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.container form .submit_btn:hover {
    background: #3d17fb;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;}

#select1{
    width: 752px;
}
.btnc{
    width: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 680px;
    background-color: white;
}

.btnc:hover{
    background-color: black;
    color: white;
}