*{
    margin: 0;
    padding: 0;
    font-family:Liter ;
}


body{
    background-color: rgb(255, 255, 255);
}

/* For Fonts  */
.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

/* Nav bar  */

.main-nav{
    background-image: url(../images/homeimg.webp);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: multiply;
}
.nav-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo-img img{
    width: 150px;
    height: 80px;
    margin-left: 90px;
}

.nav-main{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;

}

.nav-main li{
    list-style: none;
}

.nav-main li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-main li a::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    left: 0;
    bottom: -8px;
    opacity: 0;
    background: rgb(255, 255, 255);
    transition: all 0.2s;
}

.nav-main li a:hover::after{
    opacity: 1;
}

.ul-container{
    margin-top: 26px;
}

.btn-nav{
    display: flex;
    justify-content: end;
    margin-right: 90px;
    margin-top: 26px;
}

.btn-nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.header{
    margin-left: 90px;
    margin-top: 250px;
}

.header h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    letter-spacing: 4px;
}

.header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.header a::after{
    content: '';
    height: 2px;
    width: 76px;
    display: block;
    left: 0;
    bottom: -8px;
    opacity: 0;
    background: rgb(255, 255, 255);
    transition: all 0.2s;
}

.header a:hover::after{
    opacity: 1;
}


.header-hr{
    width: 76px;
}

/* Info  */
.info-container{
    background-color: rgb(0, 8, 36);
}
.info-container ul{
    display: flex;
    gap: 50px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info-container ul li{
    margin-right: 100px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* About  */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

.about h1{
    font-size: 100px;
    text-transform: uppercase;
}

.about a{
    border: 1px solid black;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    color: black;
    font-weight: bold;
}

.about a:hover{
    background-color: black;
    color: white;
}

/* Collection  */

.collection1{
    background-image: url(../images/collection1.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection2{
    background-image: url(../images/collection2.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection3{
    background-image: url(../images/collection3.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection4{
    background-image: url(../images/collection4.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection5{
    background-image: url(../images/collection5.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection6{
    background-image: url(../images/collection6.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection7{
    background-image: url(../images/collection7.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection8{
    background-image: url(../watchespage/aquascaphe-gmt-grey1.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    /* For text  */

.collection-container{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    row-gap: 45px;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.collection-h1{
    margin-left: 90px;
}
.collection1 a, .collection2 a, .collection3 a, .collection4 a, .collection5 a, .collection6 a, .collection7 a, .collection8 a{  
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: start;
    align-items: start;
    text-align: center;
    margin-left: 20px;
    padding-top: 430px;
}
.collection1 a p, .collection2 a p, .collection3 a p, .collection4 a p, .collection5 a p, .collection6 a p, .collection7 a p, .collection8 a p{
    font-weight: bold;
}

.collection-hr{
    margin-left: 90px;
    width:  1350px;
}

.collection-hr1{
    margin-left: 90px;
    width:  1350px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.collection-hr2{
    margin-left: 90px;
    width:  1350px;
    margin-top: 30px;
}


/* Showrooms  */
.showrooms-container{
    margin-top: 50px;
    background-image: url(../images/showroom-new-york.webp);
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.showrooms-container p{
    color: rgb(255, 255, 255);
}
.showroomh1s{
    display: flex;
    flex-direction: row;
     
}

.showrooms-container p{
    padding-left: 90px;
    font-weight: bold;
    
}

.showroom-main {
    display: flex;
    flex-direction: column;
    padding-top: 250px;

}

.showroom-main p{
    letter-spacing: 2px;
}

.showroombtn{
    padding-left: 90px;
    padding-top: 20px;
}

.btn1{
    display: inline-block;
    border: 1px solid white;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 80px;
    margin-right: 35px;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
}

.showroomh1s h1{
    color: rgb(255, 255, 255);
    padding-left: 90px;
    font-size: 5em;
    
}

/* Most Popular  */
.popular1, .popular2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.popular-container{
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.mostpopular-h1{
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.popular1 img, .popular2 img{
    width: 300px;
    height: 420px;
}

.popular1 a, .popular2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
   
}

/* Discover */
.discover-h1{
    margin-left: 90px;
    margin-top: 40px;
}

.discover-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 80px;
    margin-bottom: 50px;
    gap: 50px;
    
}

.discover1{
    background-image: url(../images/discover1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover2{
    background-image: url(../images/discover2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover3{
    background-image: url(../images/discover3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover4{
    background-image: url(../images/discover4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover1 a, .discover2 a, .discover3 a, .discover4 a{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-left: 20px;
    padding-top: 430px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Latest releases  */
.latest-h1{
    margin-left: 90px;
    margin-top: 40px;
}

.latest1, .latest2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}

.latest-container{
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 50px; 
}

.latest1 img, .latest2 img{
    width: 300px;
    height: 420px;
}

.latest1 a , .latest2 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* REVIEW  */

.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 10px;
    margin-left: 90px;
    margin-right: 90px;

}

.review-img img{
    width: 100%;
    height: 800px;
}

.review-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.reviewc1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.reviewc2{
    margin-bottom: 30px;
    font-weight: 40px;
}

.btn-review{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 80px;
    margin-right: 35px;
    color:rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}


/* For icon  */
.star-icon{
    /* position: relative; */
    width: 10px;
    height: 10px;
    margin-right: 50px;
}
/* Article  */

.article-container{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article-content{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 2px;
}

.article-btn a{
    text-decoration: none;
    color: black;
}

.article-btn{
    margin-top: 20px;
}

.article-btn a::after{
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    left: 0;
    bottom: -8px;
    opacity: 0;
    background: rgb(0, 0, 0);
    transition: all 0.2s;
}

.article-btn a:hover::after{
    opacity: 1;
}

.article-hr{
    margin-left: 689px;
    width: 139px;
}

/* Follow on intsa  */

.follow-h1{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
}

.follow-container{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.follow-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
}

.follow-main a img{
    width: 430px;
    height: 500px;
}

/* Footer  */

.footer-container{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row; 
}

.footer1{
    width: 100%;
}
.footer1 img{
    width: 200px;
    height: 100px;
}

.footer-h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#email{
    width: 350px;
    height: 40px;
    padding-left: 10px;
    
}

.footer-btn {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;    
}

.footer-p{
    color: gray;
    font-size: 12px;
    margin-top: 15px;
}

.footer2{
    background-image: url(../images/footerimg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-top: 20px;
    
}

.footer2 p{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding-left: 20px;
    font-weight: bold;

}

.footerbtn{
    display: flex;
    margin-bottom: 15px;
}

.footer2 a{
    text-decoration: none;
    padding-left: 20px;
}

.faq{
    color: rgb(255, 255, 255);
    padding-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.contactus{
    display: inline-block;
   
    text-decoration: none;
    padding: 20px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 80px;
    margin-right: 30px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.contactus:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.warranty i, .warranty1 i, .warranty2 i{
    margin-right: 15px;
}
.warranty{
    margin-top: 20px;
}

.footer-hr{
    margin-left: 90px;
    width:  1350px;
    margin-bottom: 50px;
}


/* footer main  */
.footer-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
    gap: 180px;
}

.footerwatches, .footer-aboutus, .footer-services, .footer-social{
    display: flex;
    flex-direction: column;
}

.footerwatches p, .footer-aboutus p, .footer-services p, .footer-social p{
    margin-bottom: 10px;
    font-size: 18px;
}

.footerwatches a, .footer-aboutus a, .footer-services a, .footer-social a{
    margin-top: 5px;
    text-decoration: none;
    color: grey;
    font-size: 15px;
    font-weight: bold;
}


/* footerpayment  */
.footerpay-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: start;

}

.review-footer{
    font-weight: bold;
    color: rgb(33, 31, 31);
}

.pay-footer{
    display: flex;
    margin-left: 150px;
}

.pay-footer img{
    width: 60px;
    height: 40px;
    margin-left: 20px;
    
}

.privacy-footer a{
    display: flex;
    margin-left: 240px;
    text-decoration: none;
}

.privacy-footer p{
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
}

.p1{
    margin-right: 20px;
}

/* Hermétique  */

.hermetique-hs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.hermetique-h3{
    margin-top: 60px;
    margin-left: 600px;
    font-size: 15px;
}

 .hermetique-h1{
    margin-left: 90px;
    margin-top: 40px;
    text-transform: uppercase;
}

.hermetique-hr {
    margin-left: 90px;
    width:  1350px;
    margin-bottom: 40px;
}

.hermetique-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 35px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 20px;
}

.hermetique1{
    position: relative;
}
.hermetique1 img{
    width: 300px;
    height: 420px;
    position: absolute;
    object-fit: cover;
    transition: 0.3s;
}

.hermetique1 #img2:hover{
    opacity: 0;
    cursor: pointer;
}

.hermetique1-content{
    padding-top: 426px;
}

.hermetique1-content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-transform: uppercase;

}

video{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    width: 1348px;
    height: auto;
    border-radius: 25px;
}