*{
    margin: 0;
    padding: 0;
    font-family:Liter ;
}


body{
    background-color: rgb(255, 255, 255);
}

/* For Fonts  */
.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

/* Nav bar  */

.main-nav{
    background-image: url(../images/homeimg.webp);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: multiply;
}
.nav-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo-img img{
    width: 150px;
    height: 80px;
    margin-left: 90px;
}

.nav-main{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;

}

.nav-main li{
    list-style: none;
}

.nav-main li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.ul-container{
    margin-top: 26px;
}

.btn-nav{
    display: flex;
    justify-content: end;
    margin-right: 90px;
    margin-top: 26px;
}

.btn-nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.header{
    margin-left: 90px;
    margin-top: 250px;
}

.header h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    letter-spacing: 4px;
}

.header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.header-hr{
    width: 76px;
}

/* Info  */
.info-container{
    background-color: rgb(0, 8, 36);
}
.info-container ul{
    display: flex;
    gap: 50px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info-container ul li{
    margin-right: 100px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* About  */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

.about h1{
    font-size: 100px;
    text-transform: uppercase;
}

.about a{
    border: 1px solid black;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    color: black;
    font-weight: bold;
}

/* Collection  */

.collection1{
    background-image: url(../images/collection1.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection2{
    background-image: url(../images/collection2.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection3{
    background-image: url(../images/collection3.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection4{
    background-image: url(../images/collection4.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection5{
    background-image: url(../images/collection5.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection6{
    background-image: url(../images/collection6.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection7{
    background-image: url(../images/collection7.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection8{
    background-image: url(../images/collection8.webp);
    width: 300px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    /* For text  */

.collection-container{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    row-gap: 45px;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.collection-h1{
    margin-left: 90px;
}
.collection1 a, .collection2 a, .collection3 a, .collection4 a, .collection5 a, .collection6 a, .collection7 a, .collection8 a{  
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: start;
    align-items: start;
    text-align: center;
    margin-left: 20px;
    padding-top: 430px;
}
.collection1 a p, .collection2 a p, .collection3 a p, .collection4 a p, .collection5 a p, .collection6 a p, .collection7 a p, .collection8 a p{
    font-weight: bold;
}

.collection-hr{
    margin-left: 90px;
    width:  1350px;
}

/* Showrooms  */
.showrooms-container{
    margin-top: 50px;
    background-image: url(../images/showroom-new-york.webp);
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.showrooms-container p{
    color: rgb(255, 255, 255);
}
.showroomh1s{
    display: flex;
    flex-direction: row;
     
}

.showrooms-container p{
    padding-left: 90px;
    font-weight: bold;
    
}

.showroom-main {
    display: flex;
    flex-direction: column;
    padding-top: 250px;

}

.showroom-main p{
    letter-spacing: 2px;
}

.showroombtn{
    padding-left: 90px;
    padding-top: 20px;
}

.btn1{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 80px;
    margin-right: 35px;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.btn2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
}

.showroomh1s h1{
    color: rgb(255, 255, 255);
    padding-left: 90px;
    font-size: 5em;
    
}

/* Most Popular  */
.popular1, .popular2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.popular-container{
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.mostpopular-h1{
    margin-left: 90px;
    margin-top: 40px;
}
.popular1 img, .popular2 img{
    width: 300px;
    height: 420px;
}

.popular1 a, .popular2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
   
}

/* Discover */
.discover-h1{
    margin-left: 90px;
    margin-top: 40px;
}

.discover-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 80px;
    margin-bottom: 50px;
    gap: 50px;
    
}

.discover1{
    background-image: url(../images/discover1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover2{
    background-image: url(../images/discover2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover3{
    background-image: url(../images/discover3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover4{
    background-image: url(../images/discover4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    width: 100%;
    height: 600px;
}

.discover1 a, .discover2 a, .discover3 a, .discover4 a{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-left: 20px;
    padding-top: 430px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Latest releases  */
.latest-h1{
    margin-left: 90px;
    margin-top: 40px;
}

.latest1, .latest2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}

.latest-container{
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 50px; 
}

.latest1 img, .latest2 img{
    width: 300px;
    height: 420px;
}

.latest1 a , .latest2 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* REVIEW  */

.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 10px;
    margin-left: 90px;
    margin-right: 90px;

}

.review-img img{
    width: 100%;
    height: 800px;
}

.review-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.reviewc1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.reviewc2{
    margin-bottom: 30px;
    font-weight: 40px;
}

.btn-review{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 80px;
    margin-right: 35px;
    color:rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}


